
extends layout

block content
  block gbs
    section
       div.row
        h1#gbs Group Buys
        include author
        - var gbs = typeof articles !== 'undefined' ? articles : env.helpers.getGBs(contents)
        - var limit = typeof articles !== 'undefined' ? 999 : 2
        - var i = 0;
        each article in gbs
          if i === limit
            - break
          if i > 0
            hr
          - i += 1
          div(class="col-6")
             header
               h2
                 a(href=article.url)= article.title
             section.content
             section.content
               if article.intro.length > 0
                 a(href=article.url)
                     img(src=contents.gbs[article.metadata.code + "-banner.png"].url alt=article.title class="img-fluid")
                 != typogr(article.intro).typogrify()
               ul.inline
                 li
                   if article.metadata.status == "Open"
                     a.btn.btn-success(href=article.metadata.form role="button") Buy Now!
                   else
                     a.btn.btn-success.disabled= "Groub Buy " + article.metadata.status
                 if article.metadata.gblinks
                   each gb in article.metadata.gblinks
                     li
                       a.btn.btn-primary(href=gb.url role="button")= gb.name + " GB"
                 if article.metadata.iclinks
                   each ic in article.metadata.iclinks
                     li
                       a.btn.btn-info(href=ic.url role="button")= ic.name + " IC"
       if i === limit
         a(class="btn btn-secondary" href=env.config.baseUrl+"gbs/") More Group Buys
  block keys
    div.row
      block keystitle
        h1#keys Keys
      include author
      - var keys = typeof articles !== 'undefined' ? articles : env.helpers.getKeys(contents)
      - var limit = typeof articles !== 'undefined' ? 999 : 12
      - var i = 0;
      each article in env.helpers.sortById(keys)
         if i === limit
           - break
         - i += 1
         div(class="col-sm-6 col-md-3 col-lg-2 keybox")
           header
             h3
               a(href=article.url)= article.title
             p.keyinfo
               span= article.metadata.colorway
               br
               span= article.metadata.profile
           section.content.key-size
             a(href=article.url)
                 - var goodImg = contents.singlekeys[article.metadata.code + ".png"]
                 - var useImg = typeof goodImg !== "undefined" ? goodImg : contents.singlekeys["missing.png"]
               img(src=useImg.url alt=article.title title=article.title class="img-fluid")
           section.keyboxspacer
      if i === limit
        a(class="btn btn-secondary" href=env.config.baseUrl+"keys/") More Keys

block tags
  h1 All Tags
  ul.inline
    each tag in env.helpers.getAllTags().sort()
      li
        a(class="btn btn-secondary" role="button" href=env.helpers.getTagHome(tag).url)= tag
          span &nbsp
          span.label.label-pill.label-default= env.helpers.getArticlesByTag(contents,tag).length

