extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block jumbotron
  h1= page.title
  - var jumboImg = contents.gbs[page.metadata.code + "-jumbotron.png"]
  - var imgToUse = typeof jumboImg !== 'undefined' ? jumboImg : contents.gbs[page.metadata.code + "-banner.png"]
  img(src=imgToUse.url alt=page.metadata.base class="img-fluid center-block")
  br
  ul.inline
    if page.metadata.status == "Open"
      li
        a.btn.btn-success(href=page.metadata.form role="button") Buy Now!
    li
      a.btn.btn-secondary.btn-sm(href="#howgbswork") Learn how Group Buys work

block content
  section.content!= typogr(page.html).typogrify()
  h2 Links
  ul.inline
    li
      if page.metadata.status == "Completed"
        a.btn.btn-secondary.disabled= "Groub Buy " + page.metadata.status
      else if page.metadata.status == "Open"
        a.btn.btn-success(href=page.metadata.form role="button") Buy Now!
      else 
        a.btn.btn-success.disabled= "Groub Buy " + page.metadata.status

    if page.metadata.gblinks
      each gb in page.metadata.gblinks
        li
          a.btn.btn-primary(href=gb.url role="button")= gb.name + " GB"
    if page.metadata.iclinks
      each ic in page.metadata.iclinks
        li
          a.btn.btn-info(href=ic.url role="button")= ic.name + " IC"
  for data in page.metadata.offers
    hr
    h2= data.name
    p= "Kit Price: $" + data.price
    img(src=contents.gbs[page.metadata.code + "-" + data.img + ".png"].url alt=page.metadata.base class="img-fluid")
    ul.inline
      if page.metadata.status == "Open"
        li
          a.btn.btn-success(href=page.metadata.form role="button") Buy #{data.name}
      li
        a.btn.btn-secondary(data-toggle="collapse" href="#keys-"+data.img aria-expanded="false" aria-controls="keys-"+data.img) Show Keys
    div.collapse(id="keys-"+data.img)
      div.row
        each keypage in env.helpers.sortById(env.helpers.getArticlesByTag(contents, page.metadata.gbtag))
          if env.helpers.passesTagFilter(keypage, data.tagfilters) === true
             div(class="col-sm-6 col-md-3 col-lg-2 keybox")
               header
                 h3
                   a(href=keypage.url)= keypage.title
                 p.keyinfo
                   span= keypage.metadata.colorway
                   br
                   span= keypage.metadata.profile
               section.content.key-size
                 a(href=keypage.url)
                   - var goodImg = contents.singlekeys[keypage.metadata.code + ".png"]
                   - var useImg = typeof goodImg !== "undefined" ? goodImg : contents.singlekeys["missing.png"]
                   img(src=useImg.url alt=keypage.title title=keypage.title class="img-fluid")
               section.keyboxspacer
  hr

  h2#howgbswork How Group Buys Work
  section
    !=contents['how_gbs_work.md'].html

block noabout

block nocontact

block append scripts
  script(src=contents.js['bootstrap-util.js'].url)
  script(src=contents.js['bootstrap-collapse.js'].url)
