extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block jumbotron
  h1= page.title
  - var goodImg = contents.singlekeys[page.metadata.code + ".png"]
  - var useImg = typeof goodImg !== "undefined" ? goodImg : contents.singlekeys["missing.png"]
  img(src=useImg.url alt=page.title title=page.title class="img-fluid center-block")
  span= page.metadata.colorway 
  span= " - "
  span= page.metadata.profile

block content
  if page.html.length > 0
    h3 The Key
    section.content!= typogr(page.html).typogrify()
  - var info = contents.keyinfo[page.metadata.code.split("-")[0]+".md"]
  if typeof info !== 'undefined'
    h3 Design
    div 
      section.content!= typogr(info.html).typogrify()
  div
    h3 Colorway
    ul.list-group
      li(class="list-group-item legend-"+page.metadata.legend + " background-" + page.metadata.base)
          h4.card-title= page.metadata.colorway
          - var codeSplits = page.metadata.code.split("-")
          - var colorway = codeSplits[1] + "-" + codeSplits[2] + ".md"
          - var colorInfo = contents.colorinfo[colorway]
          if typeof colorInfo !== 'undefined'
              p.card-text!= typogr(colorInfo.html).typogrify()
      li.list-group-item
        ul.inline
          li
            img.colorchip(src=contents.colors[page.metadata.base + ".png"].url alt=page.metadata.base title=page.metadata.base class="img-fluid")
          li
            img.colorchip(src=contents.colors[page.metadata.legend + ".png"].url alt=page.metadata.legend title=page.metadata.legend class="img-fluid")

block tags
  h3 Tags
  ul.inline
    each tag in env.helpers.getTagsFromArticle(page).sort()
      li   
        a(class="btn btn-secondary" role="button" href=env.helpers.getTagHome(tag).url)= tag

block noabout

block nocontact
