doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      // - The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
      meta(name="description" content=locals.name)
      meta(name="author" content=locals.owner)
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous")
      link(rel='stylesheet', href=contents.css['bootstrap.min.css'].url)
      link(rel='stylesheet', href=contents.css['main.css'].url)
  body(class=bodyclass)
    div.container
      div(class="header clearfix")
        nav
          ul(class="nav nav-pills pull-xs-right")
            ul(class="nav navbar-nav")
              li(class="nav-item active")
                a(class="nav-link" href=contents.index.url) Home 
                span(class="sr-only") (current)
              li.nav-item
                a(class="nav-link" href=contents['about.md'].url) About
              li.nav-item
                a(class="nav-link" href="#") Contact
        h3.text-muted= locals.name
      block nojumbotron
        div.jumbotron
          div.container
            block jumbotron
              h1.display-3 00keys
              p Custom designed keycaps for your mechanical keyboard.
              p
              a(class="btn btn-lg" href="#" role="button") More coming soon!
      block allcontent
        block nocontent
          section
            block content
        block notags
          section
            block tags
        block nobackbutton
          section
            block backbutton
              div.nav
                a(href=contents.index.url) &laquo; Home
        block nofooter
          section
            block footer
              h1 About
              section.about
                !=contents['about.md'].html
              section.copy
                p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
                  a(href='https://github.com/jnordberg/wintersmith') Wintersmith
    block scripts
      script(src=contents.js['jquery.min.js'].url)
      script(src=contents.js['tether.min.js'].url)
      script(src=contents.js['bootstrap.min.js'].url)