div#carousel-example-generic.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      - var i = 0;
      each pic in pics
        - var extraClass = ""
        if i === 0
          - extraClass = "active"
        li(data-target="#carousel-example-generic" data-slide-to=i class=extraClass)
        - ++i
    div.carousel-inner(role="listbox")
      - var i = 0;
      each pic in pics
        - var extraClass = ""
        if i === 0
          - extraClass = "active"
        div.carousel-item(class=extraClass)
          img(src=pic.src alt=pic.title title=pic.title)
          div.carousel-caption
            p.carousel-title= pic.title
            p.carousel-sub
              if typeof pic.url !== 'undefined'
                a.carousel-sub(href=pic.url alt="Picture Credit: "+pic.credit title="Picture Credit: "+pic.credit )= pic.credit
              else
                #{ pic.credit }

        - ++i
    a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
      span.icon-prev(aria-hidden="true")
      span.sr-only Previous
    a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
      span.icon-next(aria-hidden="true")
      span.sr-only Next

